* {
    padding: 0;
    margin: 0;
    border: none;
}

body {
    font-family: "Lato", Arial, sans-serif;
    font-weight: 400;
    background-color: #f2f2f2;
    min-width: 1020px;
    margin: 0 auto;
}

.main {
    background-color: #f2f2f2;
}

.wrapper {
    width: 1020px;
    margin: 0 auto;
}

.contacts {
    background-color: #f06c64;
    border-bottom: 6px solid #ea676b;
    color: #f0d8d9;
}

.wrapper-contacts {
    padding: 62px 0 0 40px;
}

.contacts-header {
    font-size: 30px;
    font-weight: 900;
    letter-spacing: -0.004em;
}

.contacts-description {
    font-size: 18px;
    padding-top: 17px;
    line-height: 30px;
    width: 940px;
    text-align: justify;
    letter-spacing: -0.33px;
}

.contacts-container {
    display: grid;
    grid-template-columns: 600px 350px;
    grid-template-rows: 430px;
    margin-top: 26px;
    margin-bottom: 17px;
}

.contacts-item-form {
    text-align: center;
}

.contacts-form-input,
.contacts-form-textarea {
    height: 38px;
    border-radius: 5px;
    background-color: #d6564f;
    color: #f48c8f;
    width: 603px;
    margin-top: 16px;
}

.contacts-form-input {
    padding-left: 16px;
    font-size: 11px;
    letter-spacing: 0.02em;
}

.contacts-form-textarea {
    height: 190px;
    padding-top: 12px;
    padding-left: 16px;
    font-size: 14px;
    letter-spacing: -0.17em;
    line-height: 12px;
    resize: none;
}

.contacts-form-input[type=submit] {
    width: 200px;
    font-size: 1.2em;
    margin: 0 auto;
}

.contacts-form-input::placeholder,
.contacts-form-textarea::placeholder {
    color: #f48c8f;
}

.contacts-form-input:focus,
.contacts-form-textarea:focus {
    outline: none;
}

.contacts-item-contacts-info {
    padding-top: 15px;
    padding-left: 40px;
}

.contacts-info-header {
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 0.005em;
    line-height: 24px;
}

.contacts-info-description {
    margin-bottom: 25px;
    padding-top: 5px;
    width: 300px;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: -0.004em;
    text-align: justify;
}

.contacts-info-address {
    background: url("./assets/img/location-icon.png") 3px 0 no-repeat;
}

.contacts-info-phone {
    background: url("./assets/img/phone-icon.png") 1px 1px no-repeat;
    margin-top: 6px;
}

.contacts-info-email {
    background: url("./assets/img/mail-icon.png") 0 4px no-repeat;
    margin-top: 8px;
}

.contacts-info-address,
.contacts-info-phone,
.contacts-info-email {
    padding-left: 24px;
    font-size: 12px;
    letter-spacing: -0.01em;
    width: 120px;
}

.contacts-info-phone-link,
.contacts-info-email-link {
    text-decoration: none;
    color: inherit;
}

.contacts-info-phone-link:hover,
.contacts-info-email-link:hover {
    text-decoration: underline;
}

.footer {
    background-color: #2d303a;
}

.wrapper-footer {
    padding: 22px 40px;
    display: flex;
    justify-content: space-between;
}

.footer-copyright {
    padding-top: 9px;
    font-size: 12px;
}

.footer-social-icons {
    display: flex;
    width: 152px;
    justify-content: space-between;
}

.footer-socials-icon:hover {
    cursor: pointer;
}